body{
    background-color: hsl(330, 100%, 98%);
    display: flex; 
    justify-content: center; 
    align-items: center; 
     min-height: 100vh;
}

.box{
    background-color: hsl(0, 0%, 100%);
    width: 37.5em;
    padding: 0.94em;
    border: 1.25em solid;
    border-radius: 0.94em;
    border-color: hsl(0, 0%, 100%) ;
}

.picture{
    width: 100%;
    border-radius: 15px;
    display: block;
}

.young-serif-regular {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
}



.outfit-recipe {
  font-family: "Outfit", sans-serif;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  color: hsl(30, 10%, 34%);

}

.outfit-time {
  font-family: "Outfit", sans-serif;
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  color: hsl(332, 51%, 32%);

}

.Time{
    margin: auto;
    border: 5px solid;
    padding: 15px;
    border-color: hsl(330, 100%, 98%);
    background-color: hsl(330, 100%, 98%);
    border-radius: 10px;
    font-family: "Outfit", sans-serif;
    color: hsl(30, 10%, 34%);
    
}

.young-serif-ingredients{
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
    color: hsl(14, 45%, 36%);
}

.Ingredient-font{
    font-family: "Outfit", sans-serif;
    font-size: 15px;
    color: hsl(30, 10%, 34%);
}

.color-space{
    color: hsl(14, 45%, 36%);
    font-weight: 600;
}

li.purple::marker{
    color: hsl(332, 51%, 32%); 
}

li.brown::marker{
    color: hsl(14, 45%, 36%);
    font-weight: 800;
}

.nutrit{
    font-family: "Outfit", sans-serif;
    font-size: 15px;
    color: hsl(30, 10%, 34%);
    
}

#margin{
    margin-left: 20px;
}